@model QLWebsite.Models.TaiKhoan

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminDefault.cshtml";
}

<script src=" ~/Scripts/jquery-2.1.4.intellisense.js"></script>
<script src=" ~/Scripts/jquery-2.1.4.js"></script>
<script src=" ~/Scripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
    function Check() {
        if ($('#username').val() == "") {
            alert('Nhập tên đăng nhập');
            return false;
        }
        else {
            $.post("/Admin/Login/CheckName", { "username": $('#username').val() },
            function (data) {
                if (data.Code == '1') {
                    alert('Tên đăng nhập bị trùng');
                    return false;
                }
                return true;
            });
        }
    };
    function Check1() {
        if ($('#username').val() == "" || $('#pass').val() == "" || $('#mand').val() == "" || $('#email').val() == "") {
            alert("Chưa nhập đầy đủ thông tin");
            return false;
        }
        return true;
    };
</script>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Thêm tài khoản</h3>
            </div>

            <form action="/Admin/Login/Create" method="post">
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        <label class="control-label col-md-2">Tên tài khoản</label>
                        <div class="col-md-10">
                            <input type="text" id="username" name="TenTaiKhoan" onkeyup="return Check();" onchange="return Check();"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Mật khẩu</label>
                        <div class="col-md-10">
                            <input type="password" id="pass" name="MatKhau" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Trạng thái</label> 
                        <div class="col-md-10">
                            <select name="TrangThai">
                                <option value="True">True</option>
                                <option value="False">False</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Quyền</label> 
                        <div class="col-md-10">
                            <select name="Quyen">
                                <option value="4">Customer</option>
                                <option value="3">Employee</option>
                                <option value="2">Admin</option>
                                <option value="1">Manager</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Mã ND</label> 
                        <div class="col-md-10">
                            <input type="number" id="mand" name="MaND" min="1" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Email</label>
                        <div class="col-md-10">
                            <input type="email" id="email" name="Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Thêm" class="btn btn-default" onclick="return Check1();" />
                        </div>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>
