
@{
    Layout = "~/Areas/Manager/Views/Shared/_ManagerDefault.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Đây là trang chủ manager
    </div>
</body>
</html>
