@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminDefault.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div><p align="center" style="font-size:23px; margin-top:6px; border:solid 1px black">Xuất dữ liệu từ cở sở dữ liệu</p></div>
            <div class="form-horizontal">
                <form action="/Export/ExportToExcel" method="post">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="form-group">
                                Tên file @Html.TextBox("ExcelFilePath")
                            </div>
                            <div class="form-group">
                                Loại SP
                                <select name="LoaiSP">
                                    <option value="0">All</option>
                                    <option value="1">Sách</option>
                                    <option value="2">DVD</option>
                                    <option value="3">Dụng cụ học tập</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Export" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

