
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerDefault.cshtml";
}


<script>
   
    function jsonToDate(strDate) {
        var dateString = (strDate).substr(6);
        var currentTime = new Date(parseInt(dateString));
        var month = currentTime.getMonth() + 1;
        var day = currentTime.getDate();
        var year = currentTime.getFullYear();
        var date = day + "/" + month + "/" + year;
        return date;
    }
    function getData() {

        $.ajax({
            url: "/ThongKeBaoCao/ThongKe",
            type: "GET",
            data: {
                pNgayBatDau: $('#NgayBatDau').val(),
                pNgayKetThuc: $('#NgayKetThuc').val(),
                pTinhTrangDonHang: $('#TrangThaiDonHang').val()
            },
            success: function (data) {
                var str = " <br /> <table class='table'>";
                str += "<tr>";
                str += "<th>Mã đơn hàng</th>";
                str += "<th>Tên khách hàng</th>";
                str += "<th>Ngày lập</th>";
                str += "<th>Ngày giao</th>";
                str += "<th>Trạng thái đơn hàng</th>";
                str += "<th>Tổng tiền</th>";
                str += "</tr>";
                $.each(data, function (key, val) {
                    str += "<tr>";
                    str += "<td>" + val.MaDH + "</td>";
                    str += "<td>" + val.TenKH + "</td>";
                    str += "<td>" + jsonToDate(val.NgayLap) + "</td>";
                    str += "<td>" + jsonToDate(val.NgayGiao) + "</td>";
                    str += "<td>" + $('#TrangThaiDonHang').val() + "</td>";
                    str += "<td>" + val.TongTien + " VNĐ </td>";
                    str += "</tr>";
                });
                str += "</table>";
                $('#Result').html(str);
            }
        });

        $.ajax({
            url: "/ThongKeBaoCao/ThongKe_BieuDo",
            type: "GET",
            data: {
                pNgayBatDau: $('#NgayBatDau').val(),
                pNgayKetThuc: $('#NgayKetThuc').val()
            },
            success: function (data) {
                var str = "<b>Thống kê số đơn hàng</b><br>";
                str += "<p style='background-color:#878BB6'>Tổng số đơn hàng đã nhận:" + data.soDHDaNhan + "</p>";
                str += "<p style='background-color:#4ACAB4'>Tổng số đơn hàng bị hủy:" + data.soDHBiHuy + "</p>";
                str += "<p style='background-color:#FF8153'>Tổng số đơn hàng đang chờ:" + data.soDHDangCho + "</p>";
                $('#Result1').html(str);

                var p1 = parseInt(data.soDHDaNhan);
                var p2 = parseInt(data.soDHBiHuy);
                var p3 = parseInt(data.soDHDangCho);
                
                var pieData = [
        {
            value: p1 * 100 / (p1 + p2 + p3),
            color: "#878BB6"
        },
        {
            value: p2 * 100 / (p1 + p2 + p3),
            color: "#4ACAB4"
        },
        {
            value: 100 - p1 * 100 / (p1 + p2 + p3) - p2 * 100/ (p1 + p2 + p3),
            color: "#FF8153"
        }
                ];

                // pie chart options
                var pieOptions = {
                    segmentShowStroke: false,
                    animateScale: true
                }

                // get pie chart canvas
                var donhang = document.getElementById("donhang").getContext("2d");

                // draw pie chart
                new Chart(donhang).Pie(pieData, pieOptions);

            }

        });
    }
    
</script>


<br />
<h4>Thống kê báo cáo đơn hàng</h4>
@*<form action="" method="post">*@
    Ngày bắt đầu
<input type="date" name="NgayBatDau" id="NgayBatDau" />
<br />
<br />
    Ngày kết thúc
<input type="date" name="NgayKetThuc" id="NgayKetThuc" />
<br />
<br />
    Tình trạng đơn hàng
<select name="TrangThaiDonHang" id="TrangThaiDonHang">
    <option>Đang chờ giao hàng</option>
    <option>Đã nhận hàng</option>
    <option>Đơn hàng bị hủy</option>
</select>
<br />
<br />
<input id="ThongKe" type="submit" value="Thống kê" onclick="getData()" />

@*</form>*@
<br />
<div id="Result">
</div>

<br />
<table>
    <tr>
        <td  id="Result1"></td>
        <td><canvas id="donhang" width="600" height="400"></canvas></td>
    </tr>
</table>



