@model QLWebsite.Models.LoaiKH

@{
    ViewBag.Title = "ThemMoi";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerDefault.cshtml";
}

@* Kiểm tra validation cho form nhập liệu *@
<script language="javascript">

    //Hàm kiểm tra nhập vào định dạng và rỗng chiết khấu
    function isChietKhau(chietKhau) {
        if (chietKhau.length > 0) {
            if (chietKhau.which != 8 && chietKhau.which != 0 && (chietKhau.which < 48 || chietKhau.which > 57))
                return false;
            else
                return true;
        }
        else
            return false;
    }
    $(document).ready(function () {
        $('#form_insert').submit(function () {
            //Lấy dữ liệu từ form
            var TenCapBac = $.trim($('#TenCapBac').val());
            var ChietKhau = $.trim($('#ChietKhau').val());
            var NgayApDung = $.trim($('#NgayApDung').val());

            //Validate dữ liệu
            var flag = true;
            //Tên cấp bậc
            if (TenCapBac.length <= 0) {
                $('#TenCapBac_Loi').text("Bạn phải nhập tên cấp bậc");
                flag = false;
            }
            else {
                $('#TenCapBac_Loi').text("");
            }
            //Chiết khấu
            //if (isChietKhau($('#ChietKhau').val()) == false) {
            //    $('#ChietKhau_Loi').text("Bạn nhập chưa nhập chiết khấu hoặc sai định dạng");
            //    flag = false;
            //}
            //else {
            //    $('#ChietKhau_Loi').text("");
            //}
        
            return flag;
        });
    });
    
</script>

<form method="post" action="" id="form_insert">

    <div class="form-horizontal">
        <br />
        <h4>Thêm loại khách hàng</h4>
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2">Tên cấp bậc</label>
            <div class="col-md-10">
                <input type="text" name="TenCapBac" id="TenCapBac" value=""/>
                <span id="TenCapBac_Loi" style="color:red"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Chiết khấu</label>
            <div class="col-md-10">
                <input type="text" name="ChietKhau" id="ChietKhau" value="" />
                <span id="ChietKhau_Loi" style="color:red"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Ngày áp dụng</label>
            <div class="col-md-10">
                <input type="date" name="NgayApDung" id="NgayApDung" value=""/>
                <span id="NgayApDung_Loi" style="color:red"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Trở về", "Index")
</div>
